.search {
    margin-left: 45em;
}

.shift {
    margin-left: 3em;
    margin-top: 3em;
    margin-right: 3em;
    padding-bottom: 4em;
}
.shift-title-text {
    margin-left: 30em;
    padding-right: 0em;
}
.shift-button-text {
    margin-left: 8em;
  }
  
.white-font {
    color: white;
}